<nav class="research-nav">
  <ul style="font-size: 1.3em;">
    <li><a href="{{ '/research/3dma-gnss/' | relative_url }}">3D Mapping Aided GNSS</a></li>
    <li><a href="{{ '/research/deep-learning-gnss/' | relative_url }}">Deep Learning Assisted GNSS</a></li>
    <li><a href="{{ '/research/signal-propagation/' | relative_url }}">Signal Propagation Modeling</a></li>
    <li><a href="{{ '/research/urban-sensing/' | relative_url }}">GNSS Ubiquitous Sensing</a></li>
    <li><a href="{{ '/research/indoor-positioning/' | relative_url }}">Indoor Positioning and Indoor Navigation</a></li>
    <br>
  </ul>
</nav>